In [61]:
import getNewReading as gnr
import kinneretDrawGraph as kdg
import pandas as pd
import math

In [62]:
df = gnr.importReadings()
df

              level
date
2020-12-27 -209.900
2020-12-26 -209.895
2020-12-25 -209.890
2020-12-24 -209.885
2020-12-23 -209.890
...             ...
1966-11-01 -210.390
1966-10-15 -210.320
1966-10-01 -210.270
1966-09-15 -210.130
1966-09-01 -210.020

[9253 rows x 1 columns]

In [80]:
df['real'] = True

upsampled = df.resample('1D')
interpolated = upsampled.interpolate(method='polynomial', order=5)
interpolated.sort_values(by='date', inplace=True, ascending=False)

In [81]:
interpolated.fillna(value=False, inplace=True)
interpolated.tail(50)

                 level   real
date
1966-10-20 -210.340328  False
1966-10-19 -210.336042  False
1966-10-18 -210.331847  False
1966-10-17 -210.327766  False
1966-10-16 -210.323813  False
1966-10-15 -210.320000   True
1966-10-14 -210.316328  False
1966-10-13 -210.312791  False
1966-10-12 -210.309375  False
1966-10-11 -210.306057  False
1966-10-10 -210.302811  False
1966-10-09 -210.299601  False
1966-10-08 -210.296389  False
1966-10-07 -210.293133  False
1966-10-06 -210.289787  False
1966-10-05 -210.286303  False
1966-10-04 -210.282632  False
1966-10-03 -210.278724  False
1966-10-02 -210.274529  False
1966-10-01 -210.270000   True
1966-09-30 -210.265089  False
1966-09-29 -210.259754  False
1966-09-28 -210.253953  False
1966-09-27 -210.247653  False
1966-09-26 -210.240822  False
1966-09-25 -210.233437  False
1966-09-24 -210.225481  False
1966-09-23 -210.216946  False
1966-09-22 -210.207830  False
1966-09-21 -210.198144  False
1966-09-20 -210.187908  False
1966-09-19 -210.177152  False
1966-09-18 -210.165920  False
1966-09-17 -210.154268  False
1966-09-16 -210.142267  False
1966-09-15 -210.130000   True
1966-09-14 -210.117568  False
1966-09-13 -210.105088  False
1966-09-12 -210.092694  False
1966-09-11 -210.080537  False
1966-09-10 -210.068788  False
1966-09-09 -210.057637  False
1966-09-08 -210.047295  False
1966-09-07 -210.037995  False
1966-09-06 -210.029992  False
1966-09-05 -210.023563  False
1966-09-04 -210.019010  False
1966-09-03 -210.016659  False
1966-09-02 -210.016863  False
1966-09-01 -210.020000   True

In [ ]:
dataFile = 'data/levels-pd-calc2.csv'
colHead = ['level','1day','7day','1month']
df.round({'1day': 3,'7day': 3, '1month': 3}).to_csv(dataFile, index_label='date', columns=colHead)

In [ ]:
dateOff = pd.DateOffset(days=-1)
ind = df.index[5]
# df['1dayT'] = [gnr.naCheckDelta(df,x,y,dateOff1d) for x,y in zip(df.index,df['1day'])]
# df['gap'] = [x for x in df.]
timeAgo = dateOff + ind
filt = df.index.get_loc(timeAgo, method='nearest')
oldLevel = df.iloc[filt]

print(oldLevel)