In [1]:
import kinneretDrawGraph as kdg
import pandas as pd
import math
import getNewReading as gnr

In [2]:
df = gnr.importReadings()
df

              level
date
2020-12-31 -209.920
2020-12-30 -209.905
2020-12-29 -209.910
2020-12-28 -209.905
2020-12-27 -209.900
...             ...
1966-11-01 -210.390
1966-10-15 -210.320
1966-10-01 -210.270
1966-09-15 -210.130
1966-09-01 -210.020

[9257 rows x 1 columns]

In [3]:
df['real'] = True

upsampled = df.resample('1D')
inter = upsampled.interpolate(method='cubicspline')
inter.sort_values(by='date', inplace=True, ascending=False)

In [4]:
inter.fillna(value=False, inplace=True)
inter.tail(50)

                 level   real
date
1966-10-20 -210.337375  False
1966-10-19 -210.333597  False
1966-10-18 -210.329960  False
1966-10-17 -210.326474  False
1966-10-16 -210.323151  False
1966-10-15 -210.320000   True
1966-10-14 -210.317021  False
1966-10-13 -210.314169  False
1966-10-12 -210.311391  False
1966-10-11 -210.308631  False
1966-10-10 -210.305835  False
1966-10-09 -210.302948  False
1966-10-08 -210.299915  False
1966-10-07 -210.296681  False
1966-10-06 -210.293192  False
1966-10-05 -210.289392  False
1966-10-04 -210.285228  False
1966-10-03 -210.280645  False
1966-10-02 -210.275587  False
1966-10-01 -210.270000   True
1966-09-30 -210.263845  False
1966-09-29 -210.257149  False
1966-09-28 -210.249953  False
1966-09-27 -210.242298  False
1966-09-26 -210.234228  False
1966-09-25 -210.225784  False
1966-09-24 -210.217007  False
1966-09-23 -210.207941  False
1966-09-22 -210.198626  False
1966-09-21 -210.189105  False
1966-09-20 -210.179420  False
1966-09-19 -210.169613  False
1966-09-18 -210.159725  False
1966-09-17 -210.149799  False
1966-09-16 -210.139877  False
1966-09-15 -210.130000   True
1966-09-14 -210.120211  False
1966-09-13 -210.110551  False
1966-09-12 -210.101062  False
1966-09-11 -210.091787  False
1966-09-10 -210.082767  False
1966-09-09 -210.074044  False
1966-09-08 -210.065661  False
1966-09-07 -210.057659  False
1966-09-06 -210.050080  False
1966-09-05 -210.042966  False
1966-09-04 -210.036359  False
1966-09-03 -210.030301  False
1966-09-02 -210.024834  False
1966-09-01 -210.020000   True

In [5]:
inter.sort_values(by='date', ascending=False, inplace=True)
inter['1day-cm'] = inter['level'].diff(periods=-1) * 100
inter['7day-cm'] = inter['level'].diff(periods=-7) * 100
inter.dropna(inplace=True)
inter

                 level   real   1day-cm   7day-cm
date
2020-12-31 -209.920000   True -1.500000 -3.500000
2020-12-30 -209.905000   True  0.500000 -1.500000
2020-12-29 -209.910000   True -0.500000 -1.500000
2020-12-28 -209.905000   True -0.500000 -1.000000
2020-12-27 -209.900000   True -0.500000  0.000000
...                ...    ...       ...       ...
1966-09-12 -210.101062  False -0.927520 -5.809629
1966-09-11 -210.091787  False -0.901988 -5.542800
1966-09-10 -210.082767  False -0.872261 -5.246601
1966-09-09 -210.074044  False -0.838338 -4.921034
1966-09-08 -210.065661  False -0.800220 -4.566098

[19839 rows x 4 columns]

In [6]:
inter.sort_values('1day-cm', inplace=True)
inter

                 level   real    1day-cm    7day-cm
date
1973-07-22 -210.620000   True  -6.095930  -7.000000
1973-07-21 -210.559041  False  -6.037832   0.454012
1980-08-29 -209.740000   True  -6.000000 -19.818172
1993-06-24 -208.940000   True  -6.000000  -9.000000
1980-08-28 -209.680000   True  -5.141468 -13.290472
...                ...    ...        ...        ...
2003-02-22 -212.474569  False  17.543089  51.605588
2003-02-05 -213.370000   True  20.000000  43.000000
1995-02-08 -209.410000   True  21.000000  34.000000
2013-01-08 -211.500000   True  22.000000  40.000000
2020-01-09 -211.100000   True  23.000000  43.000000

[19839 rows x 4 columns]

In [7]:
inter.describe()

              level       1day-cm       7day-cm
count  19839.000000  19839.000000  19839.000000
mean    -211.078286      0.000694      0.004724
std        1.567114      1.434789      8.670769
min     -214.870000     -6.095930    -26.097368
25%     -212.220000     -0.875357     -5.519400
50%     -210.820000     -0.280944     -2.000000
75%     -209.790000      0.489626      3.237840
max     -208.158269     23.000000     88.850369

In [17]:
filt = (inter.index.month == 12) & (inter.index.day == 31)
dec31 = inter[filt].sort_values(by='level', ascending=False)

In [26]:

dec31['diff']= (-209.094980 - dec31['level'] )* 100

                 level   real   1day-cm    7day-cm        diff
date
1968-12-31 -209.094980  False -1.655877   7.790207    0.000033
1969-12-31 -209.380000   True  0.288670   2.311593   28.502000
1992-12-31 -209.450000   True  0.000000  -8.000000   35.502000
1967-12-31 -209.610000   True -0.022014  -2.564145   51.502000
1971-12-31 -209.849743  False  0.704712   5.477174   75.476268
1993-12-31 -209.901836  False -0.164139  -2.727536   80.685561
2020-12-31 -209.920000   True -1.500000  -3.500000   82.502000
1978-12-31 -210.013724  False -0.209907  -0.400419   91.874353
1977-12-31 -210.163056  False  0.694430   6.675740  106.807570
1994-12-31 -210.204073  False  1.474756   8.336290  110.909254
1988-12-31 -210.236583  False  0.341700   5.353520  114.160300
1981-12-31 -210.239806  False -0.007584   0.016361  114.482592
1980-12-31 -210.258664  False  1.024542  -0.927434  116.368446
1966-12-31 -210.301501  False -0.150088   1.269829  120.652088
1970-12-31 -210.364410  False -0.562238  -2.225198  126.943044
1987-12-31 -210.525765  False  0.787254  18.423535  143.078465
1983-12-31 -210.548686  False  0.131384  -0.484526  145.370616
1972-12-31 -210.770000   True -0.235467  -2.000000  167.502000
1984-12-31 -210.793124  False  0.611149   2.803491  169.814427
2004-12-31 -210.838703  False  0.129653   1.294872  174.372347
1976-12-31 -210.880000   True  1.595585  10.000000  178.502000
1974-12-31 -210.965386  False -0.333552   1.301045  187.040574
1995-12-31 -210.980000   True -0.344843  -1.000000  188.502000
2003-12-31 -211.030000   True  0.000000   1.000000  193.502000
1979-12-31 -211.274723  False  0.719954  15.607230  217.974254
2013-12-31 -211.290000   True  0.000000   0.000000  219.502000
1996-12-31 -211.470000   True  0.000000   0.000000  237.502000
1975-12-31 -211.492476  False  1.441258  11.695843  239.749569
2019-12-31 -211.550000   True  1.000000  27.000000  245.502000
1982-12-31 -211.570000   True  2.735434   1.000000  247.502000
1973-12-31 -211.624272  False -0.462689  -2.427184  252.929184
1986-12-31 -211.635447  False  3.511348  19.200439  254.046726
2005-12-31 -211.643933  False -0.295692   3.233234  254.895338
1985-12-31 -211.713273  False  0.612578   6.289062  261.829326
2012-12-31 -211.910000   True  1.000000   9.000000  281.502000
1997-12-31 -212.010000   True  1.000000   1.000000  291.502000
1991-12-31 -212.070000   True  3.000000  14.712695  297.502000
1989-12-31 -212.130000   True  1.276826   3.000000  303.502000
2006-12-31 -212.180000   True  0.178330   1.500000  308.502000
1998-12-31 -212.410000   True  1.000000   3.000000  331.502000
2007-12-31 -212.590000   True  0.000000   1.000000  349.502000
2014-12-31 -212.840000   True  0.000000  -1.000000  374.502000
1990-12-31 -212.850000   True  0.000000  -1.462281  375.502000
2015-12-31 -213.010000   True  3.000000   2.500000  391.502000
1999-12-31 -213.119673  False  0.032676   1.309465  402.469324
2016-12-31 -213.605000   True  0.500000   8.500000  451.002000
2000-12-31 -213.650000   True  0.034983   5.000000  455.502000
2011-12-31 -213.655000   True  1.000000   4.000000  456.002000
2009-12-31 -214.010000   True  2.500000   8.000000  491.502000
2010-12-31 -214.020000   True  0.000000  -1.000000  492.502000
2002-12-31 -214.080000   True  2.000000   9.000000  498.502000
2008-12-31 -214.370000   True  2.000000   5.000000  527.502000
2017-12-31 -214.375000   True -0.500000   2.000000  528.002000
2018-12-31 -214.470000   True  0.500000   7.500000  537.502000
2001-12-31 -214.680000   True  0.000000   0.000000  558.502000

In [41]:
import numpy as np
dec31['rank'] = np.arange(len(dec31))+1
dec31

                 level   real   1day-cm    7day-cm        diff  rank
date
1968-12-31 -209.094980  False -1.655877   7.790207    0.000033     1
1969-12-31 -209.380000   True  0.288670   2.311593   28.502000     2
1992-12-31 -209.450000   True  0.000000  -8.000000   35.502000     3
1967-12-31 -209.610000   True -0.022014  -2.564145   51.502000     4
1971-12-31 -209.849743  False  0.704712   5.477174   75.476268     5
1993-12-31 -209.901836  False -0.164139  -2.727536   80.685561     6
2020-12-31 -209.920000   True -1.500000  -3.500000   82.502000     7
1978-12-31 -210.013724  False -0.209907  -0.400419   91.874353     8
1977-12-31 -210.163056  False  0.694430   6.675740  106.807570     9
1994-12-31 -210.204073  False  1.474756   8.336290  110.909254    10
1988-12-31 -210.236583  False  0.341700   5.353520  114.160300    11
1981-12-31 -210.239806  False -0.007584   0.016361  114.482592    12
1980-12-31 -210.258664  False  1.024542  -0.927434  116.368446    13
1966-12-31 -210.301501  False -0.150088   1.269829  120.652088    14
1970-12-31 -210.364410  False -0.562238  -2.225198  126.943044    15
1987-12-31 -210.525765  False  0.787254  18.423535  143.078465    16
1983-12-31 -210.548686  False  0.131384  -0.484526  145.370616    17
1972-12-31 -210.770000   True -0.235467  -2.000000  167.502000    18
1984-12-31 -210.793124  False  0.611149   2.803491  169.814427    19
2004-12-31 -210.838703  False  0.129653   1.294872  174.372347    20
1976-12-31 -210.880000   True  1.595585  10.000000  178.502000    21
1974-12-31 -210.965386  False -0.333552   1.301045  187.040574    22
1995-12-31 -210.980000   True -0.344843  -1.000000  188.502000    23
2003-12-31 -211.030000   True  0.000000   1.000000  193.502000    24
1979-12-31 -211.274723  False  0.719954  15.607230  217.974254    25
2013-12-31 -211.290000   True  0.000000   0.000000  219.502000    26
1996-12-31 -211.470000   True  0.000000   0.000000  237.502000    27
1975-12-31 -211.492476  False  1.441258  11.695843  239.749569    28
2019-12-31 -211.550000   True  1.000000  27.000000  245.502000    29
1982-12-31 -211.570000   True  2.735434   1.000000  247.502000    30
1973-12-31 -211.624272  False -0.462689  -2.427184  252.929184    31
1986-12-31 -211.635447  False  3.511348  19.200439  254.046726    32
2005-12-31 -211.643933  False -0.295692   3.233234  254.895338    33
1985-12-31 -211.713273  False  0.612578   6.289062  261.829326    34
2012-12-31 -211.910000   True  1.000000   9.000000  281.502000    35
1997-12-31 -212.010000   True  1.000000   1.000000  291.502000    36
1991-12-31 -212.070000   True  3.000000  14.712695  297.502000    37
1989-12-31 -212.130000   True  1.276826   3.000000  303.502000    38
2006-12-31 -212.180000   True  0.178330   1.500000  308.502000    39
1998-12-31 -212.410000   True  1.000000   3.000000  331.502000    40
2007-12-31 -212.590000   True  0.000000   1.000000  349.502000    41
2014-12-31 -212.840000   True  0.000000  -1.000000  374.502000    42
1990-12-31 -212.850000   True  0.000000  -1.462281  375.502000    43
2015-12-31 -213.010000   True  3.000000   2.500000  391.502000    44
1999-12-31 -213.119673  False  0.032676   1.309465  402.469324    45
2016-12-31 -213.605000   True  0.500000   8.500000  451.002000    46
2000-12-31 -213.650000   True  0.034983   5.000000  455.502000    47
2011-12-31 -213.655000   True  1.000000   4.000000  456.002000    48
2009-12-31 -214.010000   True  2.500000   8.000000  491.502000    49
2010-12-31 -214.020000   True  0.000000  -1.000000  492.502000    50
2002-12-31 -214.080000   True  2.000000   9.000000  498.502000    51
2008-12-31 -214.370000   True  2.000000   5.000000  527.502000    52
2017-12-31 -214.375000   True -0.500000   2.000000  528.002000    53
2018-12-31 -214.470000   True  0.500000   7.500000  537.502000    54
2001-12-31 -214.680000   True  0.000000   0.000000  558.502000    55